# Fan control 
# Default target temperature -> 40
#
# Create disks in /srv/fancontrol/disks/
# e.g: touch /srv/fancontrol/disks/sd[abcde]
#
# Copy file to /etc/systemd/system
#
# sudo systemctl start fancontrol-smartctl.service
# sudo systemctl enable fancontrol-smartctl.service
#

[Unit]
Description=Fancontrol

[Service]
ExecStartPre=/usr/bin/mkdir -p /srv/fancontrol/disks 
ExecStartPre=/usr/bin/touch /srv/fancontrol/disks/sda
ExecStartPre=/usr/bin/touch /srv/fancontrol/disks/sdb
ExecStartPre=/usr/bin/touch /srv/fancontrol/disks/sdc
ExecStartPre=/usr/bin/touch /srv/fancontrol/disks/sdd
ExecStartPre=/usr/bin/touch /srv/fancontrol/disks/sde
ExecStart=/usr/local/bin/fancontrol 0 40
Restart=on-failure

[Install]
WantedBy=multi-user.target 

